{% extends "base.html" %}
{% block title %}Surveys{% endblock title %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/card-links.css' %}">
<link rel="stylesheet" href="{% static 'css/card-hover.css' %}">

{% endblock head %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card shadow mt-4">
        <h3 class="card-header text-center">User Surveys</h3>
        <div class="card-body">
            {% for employee_survey in employee_survey_list %}
                  <div class="card card-hover shadow-sm my-3">
                    <a href="{% url 'survey_detail' employee_survey.pk %}">
                        <div class="card-header">
                          <h4 class="card-card-title">
                            {{employee_survey.survey.title}}
                            {% if employee_survey.is_submitted %}
                              <span class="badge badge-success ml-1" style="font-size:45%">Submitted</span>
                            {% else %}
                              <span class="badge badge-danger ml-1" style="font-size:45%">Open</span>
                            {% endif %}
                            <span class="badge badge-primary ml-1" style="font-size:45%">{{employee_survey.survey.get_survey_type}}</span>

                          </h4>
                          
                        </div>
                        <div class="card-body">
                          
                            <div class="card-text">
                              <div class="container">
                                <div class="row">
                                    <h5>Description:</h5>
                                </div>
                                <div class="row">
                                  <p class='ml-3'>{{employee_survey.survey.description}}</p>
                                </div>
                                <div class="row justify-content-between">
                                  <div class="col-4">
                                    <p>
                                      Start Date: {{employee_survey.survey.start_date}}
                                    </p>
                                  </div>

                                  <div class="col-4">
                                    <p>
                                      End Date: {{employee_survey.survey.end_date}}
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                      </a>

                  </div>
            {% endfor %} 

        </div>
      </div>
    </div>
  </div>
</div>


{% endblock body %}
