{% extends "base.html" %}
{% block title %}Surveys{% endblock title %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/card-links.css' %}">
<link rel="stylesheet" href="{% static 'css/card-hover.css' %}">

{% endblock head %}
{% block body %}

<div class="container">
  <div class="row mt-4 mb-4">
    <div class="col-10">
      <div class="card shadow">
        <h3 class="card-header text-center">User Surveys</h3>
        <div class="card-body">
            {% for employee_survey in employee_survey_list %}
                  <div class="card card-hover shadow-sm my-3">
                    <a href="{% url 'survey_detail' employee_survey.pk %}">
                        <div class="card-header">
                          <h4 class="card-card-title">
                            {{employee_survey.survey.title}}
                            {{employee_survey.is_submitted}}
                            {% if employee_survey.is_submitted %}
                              <span class="badge badge-success ml-1" style="font-size:45%">Submitted</span>
                            {% else %}
                              <span class="badge badge-danger ml-1" style="font-size:45%">Open</span>
                            {% endif %}

                            {% if employee_survey.survey.is_expired %}
                              <span class="badge badge-secondary ml-1" style="font-size:45%">Expired</span>
                            {% else %}
                              <span class="badge badge-warning ml-1" style="font-size:45%">Due</span>
                            {% endif %}
                            <span class="badge badge-primary ml-1" style="font-size:45%">{{employee_survey.survey.get_survey_type}}</span>

                          </h4>
                          
                        </div>
                        <div class="card-body">
                          
                            <div class="card-text">
                              <div class="container">
                                <div class="row">
                                    <h5><strong>Description:</strong></h5>
                                </div>
                                <div class="row">
                                  <p class='ml-3'>{{employee_survey.survey.description}}</p>
                                </div>
                                {% if employee_survey.get_rated %}
                                  <div class="row">
                                    <h5><strong>Rating:</strong></h5>
                                  </div>

                                  <div class="row">
                                    <p class='ml-3'><strong>{{employee_survey.get_rated.name}}</strong></p>
                                  </div>
                                {% endif %}
                                
                                <div class="row">

                                </div>
                                <div class="row justify-content-between">
                                  <div class="col-4">
                                    <p>
                                      <strong>Start Date:</strong> {{employee_survey.survey.start_date}}
                                    </p>
                                  </div>

                                  <div class="col-4">
                                    <p>
                                      <strong>End Date:</strong> {{employee_survey.survey.end_date}}
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                      </a>

                  </div>
            {% endfor %} 

        </div>

        <div class="row m-3">
          <nav aria-label="Page navigation example">
              <ul class="pagination">
                  {% if page_obj.has_previous %}
                      <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}{% if order_by %}&order={{order_by}}{% endif %}{% if reverse %}&reverse={{reverse}}{% endif %}">Previous</a></li>
                  {% else %}
                      <li class="page-item disabled"><a class="page-link" href="">Previous</a></li>
                  {% endif %} 
      
                  {% with ''|center:page_obj.paginator.num_pages as range %}
                      {% for _ in range %}
                          {% if forloop.counter == page_obj.number %}
                              <li class="page-item active"><a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>    
                          {% else %}
                              <li class="page-item"><a class="page-link" href="?page={{forloop.counter}}{% if order_by %}&order={{order_by}}{% endif %}{% if reverse %}&reverse={{reverse}}{% endif %}">{{forloop.counter}}</a></li>
                          {% endif %}
                      {% endfor %}
                  {% endwith %}
      
                  {% if page_obj.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}{% if order_by %}&order={{order_by}}{% endif %}{% if reverse %}&reverse={{reverse}}{% endif %}">Next</a></li>
                  {% else %}
                  <li class="page-item disabled"><a class="page-link" href="?page=">Next</a></li>
                  {% endif %}
                
              </ul>
            </nav>
        </div>
      </div><!--Main Card-->
    </div>

    <div class="col-2">
      <div class="card shadow-sm">
        <div class="card-header">
          <h3 class="card-title text-center">Order by</h3>
        </div>
        <div class="card-body">
          <form method="GET">
            <input type="hidden" name="page" value={{page_obj.number}}>

            <div class="form-check">
              <input {% if order_by == 'title' %}checked{% endif %} class="form-check-input" type="radio" name="order" id="order-title" value="title">
              <label class="form-check-label" for="order-title">Title</label>
            </div>

            <div class="form-check">
              <input {% if order_by == 'start_date' %}checked{% endif %} class="form-check-input" type="radio" name="order" id="order-start" value="start_date">
              <label class="form-check-label" for="order-start">Start Date</label>
            </div>

            <div class="form-check">
              <input {% if order_by == 'end_date' %}checked{% endif %} class="form-check-input" type="radio" name="order" id="order-end" value="end_date">
              <label class="form-check-label" for="order-end">End Date</label>
            </div>

            <div class="form-check">
              <input {% if order_by == 'is_submitted' %}checked{% endif %} class="form-check-input" type="radio" name="order" id="order-submitted" value="is_submitted">
              <label class="form-check-label" for="order-submitted">Submitted</label>
            </div>

            <div class="form-check">
              <input {% if order_by == 'is_expired' %}checked{% endif %} class="form-check-input" type="radio" name="order" id="order-expired" value="is_expired">
              <label class="form-check-label" for="order-expired">Expired</label>
            </div>

            <div class="form-check mt-3">
              <input {% if reverse %}checked{% endif %} class="form-check-input" type="checkbox" name="reverse" id="order-reverse" value="-">
              <label class="form-check-label" for="order-reverse">Reverse</label>
            </div>

            <div class="form-group">
              <button class="btn bg-primary text-light mt-2" type="submit">Order</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

</div>


{% endblock body %}
