{% extends "base.html" %}

{% block title %}{{employee_survey.survey.title}}{% endblock title %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/rating-stars.css' %}">
{% endblock head %}

{% block body %}
<div class="alert" id='alert-div' role="alert"></div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm mt-4">
                <div class="card-header">
                    <h3 class="card-title text-center">
                        <strong>{{employee_survey.survey.title}}</strong>
                    </h3>
                    
                    {% if employee_survey.survey.is_expired %}
                        <span class="badge badge-secondary ml-1" data-toggle="tooltip" data-placement="top" title="Survey has expired, it can't be submitted">Expired</span>
                     {% else %}
                        <span class="badge badge-warning ml-1" data-toggle="tooltip" data-placement="top" title="Survey is due!">Due</span>
                    {% endif %}
                    <span class="badge badge-primary" style="" >{{employee_survey.survey.get_survey_type}}</span>

                </div>
                <div class="card-body">
                    <div class='mx-4' id='description'>
                        <div class="row">
                            <h5><strong>Description:</strong></h5>
                        </div>
                        <div class="row">
                            <p class='ml-3' style="font-size: 1.2rem;">{{employee_survey.survey.description}}</p>
                        </div>
                    </div>
                    <hr>
                    {% if employee_survey.get_rated %}
                        <div class="mx-4" id="getting_rated">
                            <div class="row">
                                <h5><strong>You are rating:</strong></h5>
                            </div>
                            <div class="row">
                                <a href="{% url 'employee_detail' employee_survey.get_rated.pk %}" class='ml-3' style="text-decoration: none;"><strong>{{employee_survey.get_rated.name}}</strong></a>
                            </div>
                        </div>

                        <hr>
                    {% endif %}

                {% if not employee_survey.survey.is_expired %}
                    <form action="" method="post">
                        {% csrf_token %}
                {% endif %}
                        <div class='mx-4' id="questions">
                            <div class="row">
                                <h5><strong>Questions:</strong></h5>
                                <div class="container">
                                    <div class="row">
                                        <ul>
                                            {% if employee_survey.is_submitted or employee_survey.survey.is_expired %}
                                                {% for answer in employee_survey.get_answers %}
                                                    <li>
                                                        <div class="col-12">
                                                            <p><strong>{{answer.question.description}}</strong></p>
                                                            <p>
                                                                <label class="rating-label">
                                                                    <input
                                                                    class="rating"
                                                                    max="5"
                                                                    oninput="this.style.setProperty('--value', this.value);input_handler(this)"
                                                                    step="0.1"
                                                                    name="answer"
                                                                    type="range"
                                                                    value="{{answer.rating}}" style="--value:{{answer.rating}}"
                                                                    {% if employee_survey.survey.is_expired or user.is_staff %}disabled{% endif %}
                                                                    >
                                                                </label>
                                                            </p>
                                                        </div>
                                                    </li>
                                                {% empty %}
                                                    <p>No Answers</p>
                                                {% endfor %}
                                            {% else %}
                                                    
                                                    {% for question in employee_survey.survey.get_questions %}
                                                        <li>
                                                            <div class="col-12">
                                                                <p><strong>{{question.description}}</strong></p>
                                                                <p>
                                                                    <label class="rating-label">
                                                                        <input
                                                                        class="rating"
                                                                        max="5"
                                                                        oninput="this.style.setProperty('--value', this.value);input_handler(this)"
                                                                        step="0.1"
                                                                        type="range"
                                                                        value="0" 
                                                                        name="answer"
                                                                        style="--value:0"
                                                                        {% if employee_survey.survey.is_expired or user.is_staff %}disabled{% endif %}
                                                                        
                                                                        >
                                                                    </label>
                                                                </p>
                                                            </div>
                                                        </li>
                                            
                                                    {% endfor %}
                                                
                                            {% endif %}
                                        </ul>
                                    </div>
                                    {% if not employee_survey.survey.is_expired and not user.is_staff %}
                                        <div class="row justify-content-center">
                                            <button type="submit" class="btn bg-success text-light">Submit</button>
                                        </div>
                                    {% endif %}
                                </div>
                            
                            
                            </div>
                        </div>
                {% if not employee_survey.survey.is_expired %}
                    </form>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block scripts %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
          })
    </script>

    <script>
        const ws = new WebSocket('ws://localhost:8000/ws/survey-detail/')

        function input_handler(element){
            
            
            const inputs = Array.from(document.querySelectorAll('.rating'));
            console.log('inputs', inputs)
            let ratings = inputs.map((input) => {
                let element_styles = getComputedStyle(input);
                let rating = element_styles.getPropertyValue('--value')
                return rating
            })
            ws.send(JSON.stringify(ratings))
        }

        ws.onmessage = (e)=>{
            console.log(e)
            const data = JSON.parse(e.data) 
            console.log('data', data)
            const answers = data.answers;
            console.log('answers', answers)
            let rating_inputs = document.querySelectorAll('.rating')
            console.log(rating_inputs)
            let i = 0
            rating_inputs.forEach((input) => {
                if(answers[i]){
                    input.style.setProperty('--value', answers[i])
                    input.value = answers[i++]
                }
            })

            const alert_div = document.querySelector('#alert-div')

            if(data.status == 'editing'){
                alert_div.classList.remove('alert-success');
                alert_div.classList.add('alert-warning');
                alert_div.innerText = 'This page is being edited right now'
            }else if(data.status == 'submitted'){
                alert_div.classList.remove('alert-warning');
                alert_div.classList.add('alert-success');
                alert_div.innerText = 'This page was submitted'
            }
        }

    </script>
{% endblock scripts %}