{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block title %}{{user.employee.name}}'s Profile{% endblock title %}

{% block body %}



<form method="post">
    {% csrf_token %}
    <div class="container">
        <div class="card shadow mt-5">
            <div class="card-body">
                <div class="row justify-content-center">
                    {{form | crispy}}
                </div>

                <div class="row justify-content-center">
                    <button class="btn bg-success text-light" type="submit">Edit</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock body %}