{% extends "base.html" %}
{% load static %}
{% block title %}{{employee.name}}{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/tree.css' %}">
{% endblock head %}

{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <ul class="tree">
            {% if employee.parent %}
                <li><span>{{employee.parent.name}}</span>
                    <ul>
                        <li><span><strong>{{employee.name}}</strong></span></li>
                    </ul>
            {% else %}
                <li><span><strong>{{employee.name}}</strong></span>
            {% endif %}
            
                <ul>
                    {% for child in employee.children %}
                        <li><span>{{child.name}}</span></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>

    </div>
</div>

{% endblock body %}