{% extends "base.html" %}
{% load static %}
{% block title %}{{employee.name}}{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/tree.css' %}">
{% endblock head %}

{% block body %}

<div class="container">
    {% if user.employee == employee %}
        <div class="row justify-content-end my-3">
            <a href="{% url 'employee_update' employee.pk %}" class="btn bg-success text-light">Edit</a>
        </div>
    {% endif %}
    <div class="row justify-content-center">
        <ul class="tree">
            {% if employee.parent %}
                <li><a href="{{employee.parent.url}}"><span>{{employee.parent.name}}</a></span>
                    <ul>
                        <li><a href="{{employee.url}}"><span><strong>{{employee.name}}</strong></a></span></li>
                    </ul>
            {% else %}
                <li><a href="{{employee.url}}"><span><strong>{{employee.name}}</strong></span></a>
            {% endif %}
            
                <ul>
                    {% for child in employee.children %}
                        <li><a href="{{child.url}}"><span>{{child.name}}</span></a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>

    </div>
</div>

{% endblock body %}